<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zd.auth.server.mapper.ClientServiceMapper">
  <resultMap id="BaseResultMap" type="com.zd.auth.server.entity.ClientService">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="service_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="client_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="description" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="crt_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="crt_user" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="crt_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="crt_host" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="attr1" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="attr2" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="attr3" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="attr4" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="attr5" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="attr6" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="attr7" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="attr8" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, service_id, client_id, description, crt_time, crt_user, crt_name, crt_host, attr1, 
    attr2, attr3, attr4, attr5, attr6, attr7, attr8
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from client_service
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from client_service
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zd.auth.server.entity.ClientService">
    insert into client_service (id, service_id, client_id, 
      description, crt_time, crt_user, 
      crt_name, crt_host, attr1, 
      attr2, attr3, attr4, 
      attr5, attr6, attr7, 
      attr8)
    values (#{id,jdbcType=INTEGER}, #{serviceId,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{crtTime,jdbcType=TIMESTAMP}, #{crtUser,jdbcType=VARCHAR}, 
      #{crtName,jdbcType=VARCHAR}, #{crtHost,jdbcType=VARCHAR}, #{attr1,jdbcType=VARCHAR}, 
      #{attr2,jdbcType=VARCHAR}, #{attr3,jdbcType=VARCHAR}, #{attr4,jdbcType=VARCHAR}, 
      #{attr5,jdbcType=VARCHAR}, #{attr6,jdbcType=VARCHAR}, #{attr7,jdbcType=VARCHAR}, 
      #{attr8,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zd.auth.server.entity.ClientService">
    insert into client_service
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="serviceId != null">
        service_id,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="crtTime != null">
        crt_time,
      </if>
      <if test="crtUser != null">
        crt_user,
      </if>
      <if test="crtName != null">
        crt_name,
      </if>
      <if test="crtHost != null">
        crt_host,
      </if>
      <if test="attr1 != null">
        attr1,
      </if>
      <if test="attr2 != null">
        attr2,
      </if>
      <if test="attr3 != null">
        attr3,
      </if>
      <if test="attr4 != null">
        attr4,
      </if>
      <if test="attr5 != null">
        attr5,
      </if>
      <if test="attr6 != null">
        attr6,
      </if>
      <if test="attr7 != null">
        attr7,
      </if>
      <if test="attr8 != null">
        attr8,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviceId != null">
        #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUser != null">
        #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="crtName != null">
        #{crtName,jdbcType=VARCHAR},
      </if>
      <if test="crtHost != null">
        #{crtHost,jdbcType=VARCHAR},
      </if>
      <if test="attr1 != null">
        #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null">
        #{attr3,jdbcType=VARCHAR},
      </if>
      <if test="attr4 != null">
        #{attr4,jdbcType=VARCHAR},
      </if>
      <if test="attr5 != null">
        #{attr5,jdbcType=VARCHAR},
      </if>
      <if test="attr6 != null">
        #{attr6,jdbcType=VARCHAR},
      </if>
      <if test="attr7 != null">
        #{attr7,jdbcType=VARCHAR},
      </if>
      <if test="attr8 != null">
        #{attr8,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zd.auth.server.entity.ClientService">
    update client_service
    <set>
      <if test="serviceId != null">
        service_id = #{serviceId,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="crtTime != null">
        crt_time = #{crtTime,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUser != null">
        crt_user = #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="crtName != null">
        crt_name = #{crtName,jdbcType=VARCHAR},
      </if>
      <if test="crtHost != null">
        crt_host = #{crtHost,jdbcType=VARCHAR},
      </if>
      <if test="attr1 != null">
        attr1 = #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        attr2 = #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null">
        attr3 = #{attr3,jdbcType=VARCHAR},
      </if>
      <if test="attr4 != null">
        attr4 = #{attr4,jdbcType=VARCHAR},
      </if>
      <if test="attr5 != null">
        attr5 = #{attr5,jdbcType=VARCHAR},
      </if>
      <if test="attr6 != null">
        attr6 = #{attr6,jdbcType=VARCHAR},
      </if>
      <if test="attr7 != null">
        attr7 = #{attr7,jdbcType=VARCHAR},
      </if>
      <if test="attr8 != null">
        attr8 = #{attr8,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zd.auth.server.entity.ClientService">
    update client_service
    set service_id = #{serviceId,jdbcType=VARCHAR},
      client_id = #{clientId,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      crt_time = #{crtTime,jdbcType=TIMESTAMP},
      crt_user = #{crtUser,jdbcType=VARCHAR},
      crt_name = #{crtName,jdbcType=VARCHAR},
      crt_host = #{crtHost,jdbcType=VARCHAR},
      attr1 = #{attr1,jdbcType=VARCHAR},
      attr2 = #{attr2,jdbcType=VARCHAR},
      attr3 = #{attr3,jdbcType=VARCHAR},
      attr4 = #{attr4,jdbcType=VARCHAR},
      attr5 = #{attr5,jdbcType=VARCHAR},
      attr6 = #{attr6,jdbcType=VARCHAR},
      attr7 = #{attr7,jdbcType=VARCHAR},
      attr8 = #{attr8,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>